@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group">
        @if (ViewData["message"] == null)
        {
            @foreach (var hashTagReport in Model.HashTagsReport)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">@hashTagReport.Tag
                    <span class="badge bg-primary rounded-pill">@hashTagReport.TagCount</span>
                </li>
            }
        }
        else
        {
            <div class="card">
              <div class="card-body">
                  @ViewData["message"]
              </div>
            </div>
        }

    </ul>
</div>
