@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script type="text/javascript">
        (function(){
            $.ajax({
                type: 'GET',
                //crossDomain: true,
                dataType: 'json',
                url: 'http://localhost:7069/api/twitter-sampled/count',
                success: function (jsondata) {
                     $("div.alert.alert-primary").html("Tweets " + jsondata);
                }
            });
        })();
    </script>
}

<div class="text-center">
    <h1 class="display-4">Top 10 hashtags</h1>
    <ul class="list-group">
        @if (ViewData["message"] == null)
        {
            @foreach (var hashTagReport in Model.HashTagsReport)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">@hashTagReport.Tag
                    <span class="badge bg-primary rounded-pill">@hashTagReport.TagCount</span>
                </li>
            }
        }
        else
        {
            <div class="card">
              <div class="card-body">
                  @ViewData["message"]
              </div>
            </div>
        }
    </ul>

    <div class="alert alert-primary" role="alert"></div>
</div>
